.Topbar {
    position: fixed;
    height: 56px;
    width: 100%;
    /*z-index: 29;*/
    /*background-color: white;*/
    /*//background-color: #a474b7;*/
    background: linear-gradient(90deg, rgba(255, 266, 255, 1) 7%, #a474b7 100%);
    /*display: flex;*/
    /*justify-content: space-between;*/
    left: 0;
    top: 0;
    padding: 0px 00px;

    /*box-sizing: border-box;*/
    /*border-bottom: 1px solid #4c2f67;*/
}

/*.Topbar a{*/
/*    line-height: 3;*/
/*    position: relative;*/
/*    cursor: pointer;*/
/*    color: #fff;*/
/*    padding: 20px 20px 17px;*/
/*}*/

/*.Topbar a:hover{*/
/*    background-color: #32afb5;*/
/*}*/


.UsernameLabel {
    display: inline-block;
    position: absolute;
    right: 65px;
    color: white;
    font-size: 14px;
    line-height: 4;
}

.Logo {
    /*line-height: 5;*/
    color: #fff;
    cursor: pointer;
    position: absolute;
    left: 40px;
    z-index: 2;
    width: 150px;
}

.MenuBarLink {
    z-index: 3;
    color: #a474b7;
    width: 60px;
    height:65px !important;
    cursor: pointer;
    position: absolute;
    padding: 20px 20px 11.6px;
    border-bottom: none;
    transition: background-color 0.2s linear ;
}

.MenuBarLink:hover {
    color: white;
    /*border: 1px solid white;*/
    background-color: #a474b7;
}

.MenuBarLink span{
    position: relative;
    top: -3px;
    right: 1px;
}
.menuElements{
    color: #a474b7!important;
    background-color:#a474b7;;

}

.UserProfileLink {
    z-index: 3;
    color: white;
    cursor: pointer;
    position: absolute;
    right: 0px;
    border-radius: 60px;
    margin: 10px;
    border: 1px solid white;
    padding: 10px;
    width: 43px;
    top: -4px;
    transition: background-color 0.2s linear ;
}

.UserProfileLink:hover {
    color: #a474b7;
    /*border: 1px solid white;*/
    background-color: white;
}

.UserProfileLink span{
    position: relative;
    top: 1px;
    right: -0.5px;
}

.Sidebar{
    height: calc(100% - 56px);
    top: 56px;
    padding: 0px!important;
    /*margin-top: 3.3em;*/
}
.purpleLink{
    color:#a474b7;
    font-weight: 600;
}



.whiteLink{
    color:white!important;
    font-weight: 600;
}

.search{

    height:3.5em !important;
    width:20em !important;
}

