therapistImage{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 70%;
}
.schedule{
    padding-top: 100px;
    font-size: x-small;
}
.record{
    margin-top: 100px;
    border: #0f0f0f inset;
    line-grid: create;
}
.line
{
    line-grid: create;
    align-items: center;
}