.image{
    width: 15em;
}
.links{
   /* display: inline-block;*/
   margin-top: 3em !important;
    color: black !important;
    text-align: center !important;
    align-content: center !important;
    /*margin:0 auto;*/
    display:block;
}


/*.stickyBackground{*/
/*    background-color: white !important;*/

/*    display: block;*/
/*    background-repeat: no-repeat;*/
/*    background-size: 100%;*/

/*}*/