.image{
    width: 15em;
}
.links{
    display: inline-block;
   margin-top: 3em !important;
    color: black !important;
}


/*.stickyBackground{*/
/*    background-color: white !important;*/

/*    display: block;*/
/*    background-repeat: no-repeat;*/
/*    background-size: 100%;*/

/*}*/