
.dash{
    background-image: url("/src/assets/encephalography-brain-paper-cutout-purple-background-epilepsy-alzheimer-awareness-seizure-disorder-mental-health-concept_49149-1256.jpg") ;
    height: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
blockquote {
    padding-top: 100px;
    background:#f9f9f9;
    border-left:10px solid #ccc;
    margin:1.5em 10px;
    padding:.5em 10px;
    quotes:"\201C""\201D""\2018""\2019";
}
blockquote:before {
    color:#ccc;
    content:open-quote;
    font-size:2em;
    line-height:.1em;
    margin-right:.25em;
    vertical-align:-.4em;

}
blockquote p {
    display:inline;

}
.coupon {
    border: 2px inset #bbb; /* Dotted border */
    width: 80%;
    border-radius: 15px; /* Rounded border */
    margin: 0 auto; /* Center the coupon */
    max-width: 600px;
}

.cont{
    padding: 2px 16px;
    background-color: #f1f1f1;
}

.promo {
    background: #ccc;
    padding: 3px;
}

.expire {
    color: #a474b7;
}