.report{

    padding-right: 100px;
    border-bottom-style: dashed;
    font-family:  "Segoe UI Emoji", "Segoe UI Symbol";
    padding-left:100px;
    padding-bottom:20px;
    font-size: 20%;
}
.record {
    font-size: small;
    padding-left: 100px;
     marginRight: 12em;
    paddingTop: 5em;

}

.headerLabel {
    color: dimgrey;
    font-weight: 500;
    width: 100%;
    font-size: 2.3em;
    font-family: "Lucida Console", "Courier New", monospace;
    text-align: center;
}
.form {
    background-color: #e6d4f6;
    width: 60% !important;
    margin-top:8%;
    margin-left: 25%;
    /*box-shadow: 0px 0px 30px -6px rgba(0, 0, 0, 0.75);*/
    height: 60%;
    border: none;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    box-shadow: 0px 0px 30px -6px rgba(0, 0, 0, 0.75);
    border-radius: 15px 15px 15px 15px;
    padding-bottom:2%;

}
.questionLabels{
    color: dimgrey;
    /*margin-top: 200px !important;*/
    font-weight: bold;
    font-size: 1.5em;
    font-family: Times New Roman;
    color: gray;

}
.H3{
    color: dimgrey;
    /*margin-top: 200px !important;*/
    font-weight: bold;
    color: #5c0e5c;
    font-family: "Lucida Console";
}
.questionLabelsNotBold{
    color: dimgrey;
    /*margin-top: 200px !important;*/
    font-weight: 500;
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
}

.title{
    color: #5c0e5c;
}

.datatablescrollDemo{
    display: block;
    background-color: #f1f1f1;
    min-height: 19px;
    animation: pulse 1s infinite ease-in-out;
    text-indent: -99999px;
    overflow: hidden;
}